{% extends 'base.html' %}

{% block title %}
    Добавить статью
{% endblock %}

{% block content %}
    <h1>Добавить статью</h1>
    <form method="post">
        <p><input type="text" name="title" placeholder="Название статьи" class="form form-control"></p>
        <p><textarea name="intro" placeholder="Анонс статьи" class="form form-control"></textarea></p>
        <p><textarea name="text" placeholder="Текст статьи" class="form form-control"></textarea></p>
        <p><input type="submit" value="Опубликовать" class="btn btn-success"></p>
    </form>
{% endblock %}